body {
  background-image: url("./assets/background.jpg");
  background-size: cover; /* Agar gambar memenuhi layar */
  background-position: center; /* Posisikan di tengah */
  background-repeat: no-repeat; /* Jangan ulangi gambar */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
}

.card {
  padding: 2em;
}

.title {
  font-size: 3.5rem;
}
p {
  color: #c2c7c8;
}

.btn-submit {
  background-color: #7532b9 !important;
  color: white !important;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.4s ease-in, color 0.4s ease-in,
    border 0.4s ease-in; /* Pastikan transisi ini benar */
}

.btn-submit:hover {
  background-color: #0a0a0a !important;
  color: #f6ecf6 !important;
  border: 1px solid #f6ecf6 !important;
}

.quote-container {
  background: linear-gradient(
    135deg,
    hsla(298, 91.7%, 85.9%, 0.2),
    hsla(222, 90%, 85%, 0.1)
  );
  backdrop-filter: blur(5px); /* Efek buram */
  border-radius: 16px; /* Sudut membulat */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
  padding: 20px;
  width: 80%;
  max-width: 1100px;
  margin: 20px auto;
  text-align: center; /* Pusatkan teks */
  color: #fff; /* Warna teks putih */
  font-family: "Arial", sans-serif; /* Font default */
  transition: box-shadow border 0.4s ease-in, color 0.4s ease-in,
    border 0.4s ease-in;
}

.quote-container:hover {
  box-shadow: 1px 8px 30px rgba(234, 28, 220, 0.4); /* Bayangan lebih tebal */
  border: 2px solid #7532b9; /* Garis tepi */
}
